out
build
node_modules
.vscode-test/
.vscode/*
!.vscode/settings.json
launch.json
*.vsix
.yo-*
yarn-error.log
*.pem
*.crt
*.p12
TEMP-*
.DS_Store
.yalc
yalc.lock
.env
coverage
.generated/
e2e/.resources/
e2e/.test-extensions/
*.orig
test-results/*
resources/rovo-dev/*
!resources/rovo-dev/script.sh

!.vscode/launch.json.example
/.idea/
