out
build
node_modules
.vscode-test/
.vscode/*
.devcontainer/
launch.json
!.vscode/launch.json.example
*.vsix
yarn-error.log
*.pem
*.crt
*.p12
.DS_Store
yarn*
package-lock.json
e2e/wiremock-mappings/**/*.json
*.css