# Allowed:
# build/
# resources/
# images/
# LICENSE

__mocks__/
__tests__/
.generated/
e2e/
.npm/

# Don't package anything from here specifically:
resources/rovo-dev/

.env
.env.example
.nvmrc
.prettierignore
CODEOWNERS
HOMEPAGE.md
changelog.md
nightlyver.sh
package.json
readme.md
eslint.config.mjs
tsconfig.json
tsconfig.notest.json
vscode-stylenames.txt
.devcontainer/
.github/
coverage/
scripts/
test-results/

.vscode/
.vscode-test/
out/test/
out/**/*.map
src/
testsutil/
.gitignore
bitbucket-pipelines.yml
*.pem
*.crt
*.p12
*.vsix
*.orig
node_modules/
webpack.*
build/**/*.map
.readme/
devhtml/
jest.config.ts
jest.react.config.ts
jest.unit.config.ts
playwright.config.js
