.App {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background-color);
}

p {
  color: var(--vscode-editor-foreground) !important;
}

h1 {
  color: var(--vscode-editor-foreground) !important;
}

a {
  color: var(--vscode-textLink-foreground) !important;
}

a:hover {
  color: var(--vscode-textLink-activeForeground) !important;
}

div.icon-text {
  height: 2em;
  display: flex;
  align-items: center;
}

div.icon-text img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 5pt;
}

.ak-button {
  background: var(--vscode-button-background) !important;
}

.ak-button span {
  color: var(--vscode-button-foreground) !important;
}

.ak-button:hover {
  background: var(--vscode-button-hoverBackground) !important;
}

.ak-button:active {
  background: var(--vscode-button-background--darken-05) !important;
  color: var(--vscode-button-foreground) !important;
}

.ak-button:disabled {
  background: var(--vscode-button-background--50) !important;
}

/* Content__ActionItem is the class given to the buttons in the feedback collector */
[class^="Content__ActionItem"] {
  background: var(--vscode-button-background) !important;
}

[class^="Content__ActionItem"] span {
  color: var(--vscode-button-foreground) !important;
}

[class^="Content__ActionItem"]:hover {
  background: var(--vscode-button-hoverBackground) !important;
}

[class^="Content__ActionItem"]:active {
  background: var(--vscode-button-background--darken-05) !important;
  color: var(--vscode-button-foreground) !important;
}

[class^="Content__ActionItem"]:disabled {
  background: var(--vscode-button-background--50) !important;
}

.ak-textarea {
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  font: inherit;
  width: inherit;
  padding: 6px;
}

.ak-textarea:focus {
  outline-color: var(--vscode-focusBorder);
  outline-width: 2px;
}

[class^="Droplist__Content"] {
  background: var(--vscode-sideBar-background) !important;
}

.ak-dropdown-item {
  background: var(--vscode-sideBar-background) !important;
  color: var(--vscode-list-focusForeground) !important;
}

.ak-dropdown-item:hover {
  background: var(--vscode-list-hoverBackground) !important;
  color: var(--vscode-list-focusForeground) !important;
}

.jira-comment {
  color: var(--vscode-editor-foreground)
}

.jira-comment-author {
  color: var(--vscode-editor-foreground)
}

[class^="Modal__Dialog"] {
  background: var(--background-color) !important;
  color: var(--vscode-input-foreground) !important; 
}

/* Sketchy way of coloring the background of the drop-down menu in the feedback collector */
/* body div[class^="css-"] div[class^="css-"] {
  background: var(--background-color) !important;
  color: var(--vscode-input-foreground) !important; 
} */

[class^="Checkbox__Label"] {
  color: var(--vscode-input-foreground) !important; 
}

[class^="Field__Label"] {
  color: var(--vscode-input-foreground) !important; 
}

[class^="styledCache__StyledSpan"] {
  background: var(--background-color) !important;
  color: var(--vscode-editor-foreground) !important;
}

[class^="AvatarItem__"] {
  color: var(--vscode-editor-foreground) !important;
}

[class^="FieldTextArea"] [class^="Content-"] {
  background: var(--vscode-input-background) !important;
  border-width: 2px;
  border-color: var(--vscode-focusBorder) !important;
}

[class^="TextArea-"] {
  background: var(--vscode-input-background) !important;
  color: var(--vscode-input-foreground) !important;
  outline-color: var(--vscode-input-placeholderForeground) !important;
}

[class^="TextArea-"]::placeholder {
  color: var(--vscode-input-placeholderForeground) !important;
}

[class^="styled__TitleWrapper"] {
  margin-bottom: 0px !important;
  align-items: center !important;
}

[class^="styled__StyledTitle"] {
  margin: 0px !important;
}

[class^="LayoutStyles__Container"] {
  padding: inherit !important;
}

[class^="styled__Cell"] {
  padding-top: inherit !important;
  padding-bottom: inherit !important;
}

.vscode-dark [class^="styledPanel__PanelHeader"]:hover {
  background: var(--background-color--lighten-05);
}

.vscode-light [class^="styledPanel__PanelHeader"]:hover {
  background: var(--background-color--darken-05);
}

.Collapsible {
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1rem;
}
.vscode-dark .Collapsible {
  background: var(--background-color--lighten-05);
}

.vscode-light .Collapsible {
  background: var(--background-color--darken-05)
}

.Collapsible__trigger {
  cursor: pointer;
}

.Collapsible__trigger h2 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.Collapsible__trigger p {
  color: var(--color--50);
  -webkit-margin-before: 0.3em;
}

.checkboxLabel {
  color: var(--color--75);
}

[class^="Checkbox__IconWrapper-"] {
  color: var(--vscode-button-background) !important;
}

[class^="Checkbox__IconWrapper-"] rect {
  stroke: var(--vscode-button-background) !important;
}
.labelAndSelect {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.labelAndSelect > span {
  color: var(--color--75);
  padding-right: 1rem;
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--color--50);
  margin-top: 1em;
  margin-bottom: 1em;
}

.vscode-light .ak-link-button>span {
  color: var(--vscode-textlink-foreground) !important;
}

.vscode-light .ak-link-button:hover {
  color: var(--vscode-textlink-foreground) !important;
  text-decoration: none;
}

.vscode-dark .ak-link-button>span {
  color: var(--vscode-button-foreground) !important;
}

.vscode-dark .ak-link-button:hover {
  color: var(--vscode-button-foreground) !important;
  text-decoration: none;
}

.ak-link-button > button {
  padding: 0px !important;
}

/* img::after is triggered only if img loading fails */
.bitbucket-page img::after {
  content: '⚠️ Error loading the image - please open the pull request on bitbucket.org to view the image.' !important;
}

.ak-select__control {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
  border: var(--vscode-dropdown-border) !important;
}

.ak-select__menu-list, .ak-select__single-value, .ak-select__indicator {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
}

.ak-select__option {
  cursor: pointer !important;
}

.ak-select__option--is-focused {
  background: var(--vscode-list-focusBackground) !important;
  color: var(--vscode-list-focusForeground) !important;
}

.ak-select__option--is-selected {
  background: var(--vscode-list-activeSelectionBackground) !important;
  color: var(--vscode-list-activeSelectionForeground) !important;
}

.ak-select-container {
  border: var(--vscode-dropdown-border) !important;
}

.ak-select__value-container {
  padding: 0px!important;
}