.App {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background-color);
}

p {
  color: var(--vscode-editor-foreground) !important;
}

h1 {
  color: var(--vscode-editor-foreground) !important;
}

a {
  color: var(--vscode-textLink-foreground) !important;
}

a:hover {
  color: var(--vscode-textLink-activeForeground) !important;
}

input {
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
}

div.icon-text {
  height: 2em;
  display: flex;
  align-items: center;
}

div.icon-text img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 5pt;
}

/* ak-button should be the className on all atlaskit button components */
.ak-button {
  background: var(--vscode-button-background) !important;
}

.ak-button span {
  color: var(--vscode-button-foreground) !important;
}

.ak-button:hover {
  background: var(--vscode-button-hoverBackground) !important;
}

.ak-button:active {
  background: var(--vscode-button-background--darken-05) !important;
  color: var(--vscode-button-foreground) !important;
}

.ak-button:disabled {
  background: var(--vscode-button-background--50) !important;
}

.no-tags {
  color: var(--vscode-input-placeholderForeground);
  padding-left: 5pt;
}

div#jql-row-container {
  margin-top: 2pt;
  margin-bottom: 2pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  align-items: center;
  height: 3em;
  background-color: transparent
}

div#jql-row-drop-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
}

div#empty-jql-row {
  background-color: transparent;
  height: 100%;
  border: 1pt;
  border-style: solid;
  border-color: var(--vscode-button-hoverBackground);
}

div#jql-row {
  color: var(--vscode-editor-foreground);
  height: 100%;
  padding-left: 3pt;
  padding-right: 3pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--vscode-input-background)
}

/* Content__ActionItem is the class given to the buttons in the feedback collector */
[class^="Content__ActionItem"] {
  background: var(--vscode-button-background) !important;
}

[class^="Content__ActionItem"] span {
  color: var(--vscode-button-foreground) !important;
}

[class^="Content__ActionItem"]:hover {
  background: var(--vscode-button-hoverBackground) !important;
}

[class^="Content__ActionItem"]:active {
  background: var(--vscode-button-background--darken-05) !important;
  color: var(--vscode-button-foreground) !important;
}

[class^="Content__ActionItem"]:disabled {
  background: var(--vscode-button-background--50) !important;
}

/* ak-textarea and ak-textfield should be the classNames on atlaskit input components */
.ak-textarea, .ak-inputField {
  background: var(--vscode-input-background)!important;
  color: var(--vscode-input-foreground)!important;
  font: inherit;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid var(--vscode-input-border)!important;
  outline: 0px!important;
}

.ak-textarea:focus {
  outline-color: var(--vscode-focusBorder);
  outline-width: 2px;
}

.ak-inputField {
  display: block;
}

.ak-textarea::placeholder, .ak-inputField::placeholder {
  color: var(--vscode-input-placeholderForeground) !important;
}


[class^="Droplist__Content"] {
  background: var(--vscode-sideBar-background) !important;
}

.ak-dropdown-item {
  background: var(--vscode-sideBar-background) !important;
  color: var(--vscode-list-focusForeground) !important;
}

.ak-dropdown-item:hover {
  background: var(--vscode-list-hoverBackground) !important;
  color: var(--vscode-list-focusForeground) !important;
}

.jira-comment {
  color: var(--vscode-editor-foreground)
}

.jira-comment-author {
  color: var(--vscode-editor-foreground)
}

[class^="Modal__Dialog"] {
  background: var(--background-color) !important;
  color: var(--vscode-input-foreground) !important; 
}

/* Sketchy way of coloring the background of the drop-down menu in the feedback collector */
/*[class^="Modal__Dialog"] div[class^="css-"] div[class^="css-"] {
  background: var(--background-color) !important;
  color: var(--vscode-input-foreground) !important; 
} */

[class^="Checkbox__Label"],[class^="Radio__Label"],[class^="Field__Label"] {
  color: var(--vscode-input-foreground) !important; 
}

[class^="styledCache__StyledSpan"] {
  background: var(--background-color) !important;
  color: var(--vscode-editor-foreground) !important;
}

[class^="AvatarItem__"] {
  color: var(--vscode-editor-foreground) !important;
}

[class^="FieldTextArea"] [class^="Content-"] {
  background: var(--vscode-input-background) !important;
  border-width: 2px;
  border-color: var(--vscode-focusBorder) !important;
}

[class^="TextArea-"] {
  background: var(--vscode-input-background) !important;
  color: var(--vscode-input-foreground) !important;
  outline-color: var(--vscode-input-placeholderForeground) !important;
}

[class^="TextArea-"]::placeholder {
  color: var(--vscode-input-placeholderForeground) !important;
}

[class^="styled__TitleWrapper"] {
  margin-bottom: 0px !important;
  align-items: center !important;
}

[class^="styled__StyledTitle"] {
  margin: 0px !important;
}

[class^="styled__Title"] {
  margin: 0px !important;
  color: black;
}

[class^="LayoutStyles__Container"] {
  padding: inherit !important;
}

[class^="styled__Cell"] {
  padding-top: inherit !important;
  padding-bottom: inherit !important;
}

.vscode-dark [class^="styledPanel__PanelHeader"]:hover {
  background: var(--background-color--lighten-05);
}

.vscode-light [class^="styledPanel__PanelHeader"]:hover {
  background: var(--background-color--darken-05);
}

.Collapsible {
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1rem;
}
.vscode-dark .Collapsible {
  background: var(--background-color--lighten-05);
}

.vscode-light .Collapsible {
  background: var(--background-color--darken-05)
}

.Collapsible__trigger {
  cursor: pointer;
}

.Collapsible__trigger h2 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.Collapsible__trigger p {
  color: var(--color--50);
  -webkit-margin-before: 0.3em;
}

.checkboxLabel {
  color: var(--color--75);
}

[class^="Checkbox__IconWrapper-"], [class^="Radio__IconWrapper-"] {
  color: var(--vscode-button-background) !important;
}

[class^="Checkbox__IconWrapper-"] rect, [class^="Radio__IconWrapper-"] circle {
  stroke: var(--vscode-button-background) !important;
}
.labelAndSelect {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.labelAndSelect > span {
  color: var(--color--75);
  padding-right: 1rem;
}

.refreshInterval > span {
  color: var(--color--75);
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--color--50);
  margin-top: 1em;
  margin-bottom: 1em;
}

.vscode-light .ak-link-button>span {
  color: var(--vscode-textlink-foreground) !important;
}

.vscode-light .ak-link-button:hover {
  color: var(--vscode-textlink-foreground) !important;
  text-decoration: none;
}

.vscode-dark .ak-link-button>span {
  color: var(--vscode-button-foreground) !important;
}

.vscode-dark .ak-link-button:hover {
  color: var(--vscode-button-foreground) !important;
  text-decoration: none;
}

.ak-link-button > button {
  padding: 0px !important;
}

.ak-inline-dialog [class^="styled__Container"] {
  color: var(--vscode-dropdown-color) !important;
  background-color: var(--vscode-dropdown-background) !important;
}

.ak-inline-dialog [class^="styled__Container"] a {
  color: var(--vscode-dropdown-color) !important;
}

/* img::after is triggered only if img loading fails */
.bitbucket-page img::after {
  content: '⚠️ Error loading the image - please open the pull request on bitbucket.org to view the image.' !important;
}

/* ak-select is the classNamePrefix that should be applied to atlaskit select components */
.ak-select__control {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
  border: 1px solid var(--vscode-dropdown-border)!important;
}

.ak-select__control:hover {
  border-color: var(--vscode-focusBorder) !important;
}

.ak-select__control--is-focused {
  border-color: var(--vscode-focusBorder) !important;
}

.ak-select__menu, .ak-select__menu-list, .ak-select__single-value, .ak-select__indicator, .ak-select__input {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
}

.ak-select__option {
  cursor: pointer !important;
}

.ak-select__placeholder {
  color: var(--vscode-input-placeholderForeground) !important;
}

.ak-select__option--is-focused {
  background: var(--vscode-list-focusBackground) !important;
  color: var(--vscode-list-focusForeground) !important;
}

.ak-select__option--is-selected {
  background: var(--vscode-list-activeSelectionBackground) !important;
  color: var(--vscode-list-activeSelectionForeground) !important;
}

.ak-select__menu {
  border: 1px solid var(--vscode-focusBorder)!important;
  border-radius: 2px!important;
}

.ak-select__value-container {
  padding: 0px!important;
}

/* Calendar__Wrapper is the only way to style the calendar popup */
[class^="Calendar__Wrapper"] {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
  border: 1px solid var(--vscode-focusBorder)!important;
}

[class^="Heading__MonthAndYear"] {
  color: var(--vscode-dropdown-foreground) !important;
}

[class^="Calendar__CalendarTh"] {
  color: var(--vscode-dropdown-foreground) !important;
}

[class^="Date__DateDiv"] {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
}

[class^="Date__DateDiv"]:hover {
  background: var(--vscode-list-focusBackground) !important;
  color: var(--vscode-list-focusForeground) !important;
}

[class^="Date__DateDiv"]:disabled {
  background: var(--vscode-list-focusBackground) !important;
  color: red !important;
}

[class^="Calendar__Wrapper"] > [class^="Icon__IconWrapper"]{
  color: var(--vscode-dropdown-foreground) !important;
}

[class^="DateTimePicker__Flex-"] {
  background: var(--vscode-dropdown-background) !important;
  border: 1px solid var(--vscode-dropdown-border)!important;
}

.bitbucket-page h3 {
  margin: 5px;
}

.ac-branch-lozenge {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  max-width: 100%;
  vertical-align: baseline;
  border-radius: 3px;
  padding: 2px 0px 3px;
  background-color: var(--vscode-button-background--lighten-80);
  color: #4a4a4a;
  border: 1px solid #b1b1b1;
}

.ac-branch-lozenge__Text {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  padding: 0px 4px;
}
