.App {
  text-align: center
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background-color)
}

h1,p {
  color: var(--vscode-editor-foreground)!important
}

a {
  color: var(--vscode-textLink-foreground)!important
}

a:hover {
  color: var(--vscode-textLink-activeForeground)!important
}

input {
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background)
}

div.icon-text {
  height: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

div.icon-text img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 5pt
}

.ak-button {
  background: var(--vscode-button-background)!important
}

.ak-button span {
  color: var(--vscode-button-foreground)!important
}

.ak-button:hover {
  background: var(--vscode-button-hoverBackground)!important
}

.ak-button:active {
  background: var(--vscode-button-background--darken-05)!important;
  color: var(--vscode-button-foreground)!important
}

.ak-button:disabled {
  background: var(--vscode-button-background--50)!important
}

.no-tags {
  color: var(--vscode-input-placeholderForeground);
  padding-left: 5pt
}

div#jql-row-container {
  margin-top: 2pt;
  margin-bottom: 2pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  -ms-flex-align: center;
  align-items: center;
  height: 3em;
  background-color: transparent
}

div#jql-row-drop-overlay {
  width: 100%;
  height: 100%;
  z-index: 1
}

div#empty-jql-row {
  background-color: transparent;
  height: 100%;
  border: 1pt;
  border-style: solid;
  border-color: var(--vscode-button-hoverBackground)
}

div#jql-row {
  color: var(--vscode-editor-foreground);
  height: 100%;
  padding-left: 3pt;
  padding-right: 3pt;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--vscode-input-background)
}

[class^=Content__ActionItem] {
  background: var(--vscode-button-background)!important
}

[class^=Content__ActionItem] span {
  color: var(--vscode-button-foreground)!important
}

[class^=Content__ActionItem]:hover {
  background: var(--vscode-button-hoverBackground)!important
}

[class^=Content__ActionItem]:active {
  background: var(--vscode-button-background--darken-05)!important;
  color: var(--vscode-button-foreground)!important
}

[class^=Content__ActionItem]:disabled {
  background: var(--vscode-button-background--50)!important
}

/* BEGIN JQL AUTOCOMPLETE INPUT */
[class^=SingleLineTextInput] {
  outline: 0px!important;
}

[class^=Content-] {
  background: var(--vscode-dropdown-background)!important;
  color: var(--vscode-dropdown-foreground)!important;
  border: 1px solid var(--vscode-dropdown-border)!important;
}

[class^=Item__Span] {
  background: var(--vscode-dropdown-background)!important;
  color: var(--vscode-dropdown-foreground)!important

}

[class^=Item__Span]:hover {
  background: var(--vscode-list-focusBackground)!important;
  color: var(--vscode-dropdown-foreground)!important;

}
/* END JQL AUTOCOMPLETE INPUT */

.ak-inputField,.ak-inputField-inline,.ak-textarea {
  background: var(--vscode-input-background)!important;
  color: var(--vscode-input-foreground)!important;
  font: inherit;
  width: inherit;
  padding: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid var(--vscode-input-border)!important;
  outline: 0!important
}

.ak-textarea:focus {
  outline-color: var(--vscode-focusBorder);
  outline-width: 2px
}

.ak-inputField {
  display: block;
}

.ak-inputField-inline {
  display: inline-block;
}

.ak-inputField::-webkit-input-placeholder,.ak-inputField-inline::-webkit-input-placeholder,.ak-textarea::-webkit-input-placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}

.ak-inputField::-ms-input-placeholder,.ak-inputField-inline::-ms-input-placeholder,.ak-textarea::-ms-input-placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}

.ak-inputField::placeholder,.ak-inputField-inline::placeholder,.ak-textarea::placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}

.ak-dropdown-item,[class^=Droplist__Content] {
  background: var(--vscode-sideBar-background)!important
}

.ak-dropdown-item,.ak-dropdown-item:hover {
  color: var(--vscode-list-focusForeground)!important
}

.ak-dropdown-item:hover {
  background: var(--vscode-list-hoverBackground)!important
}

.jira-comment,.jira-comment-author {
  color: var(--vscode-editor-foreground)
}

[class^=Modal__Dialog] {
  background: var(--background-color)!important
}

section[class^=styled__Container-],section[class^=styled__Container-] h1  {
  color:#4c4c4c!important;
}

[class^=Checkbox__Label],[class^=Field__Label],[class^=Label__LabelWrapper-],[class^=Label__LabelInner-],[class^=Modal__Dialog],[class^=Radio__Label] {
  color: var(--vscode-input-foreground)!important
}

[class^=styledCache__StyledSpan] {
  background: var(--background-color)!important
}

[class^=AvatarItem__],[class^=styledCache__StyledSpan] {
  color: var(--vscode-editor-foreground)!important
}

[class^=FieldTextArea] [class^=Content-] {
  background: var(--vscode-input-background)!important;
  border-width: 2px;
  border-color: var(--vscode-focusBorder)!important
}

[class^=TextArea-] {
  background: var(--vscode-input-background)!important;
  color: var(--vscode-input-foreground)!important;
  outline-color: var(--vscode-input-placeholderForeground)!important
}

[class^=TextArea-]::-webkit-input-placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}

[class^=TextArea-]::-ms-input-placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}

[class^=TextArea-]::placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}


[class^=styled__TitleWrapper] {
  margin-bottom: 0!important;
  -ms-flex-align: center!important;
  align-items: center!important
}

[class^=styled__StyledTitle] {
  margin: 0!important
}

[class^=styled__Title] {
  margin: 0!important;
  color: #000
}

[class^=LayoutStyles__Container] {
  padding: inherit!important
}

[class^=styled__Cell] {
  padding-top: inherit!important;
  padding-bottom: inherit!important
}

.inlinePanelHeader{
  display: inline-block;
}

.inlinePanelSubheading {
  display: inline-block;
  margin-left: 15px;
  color: var(--vscode-input-placeholderForeground)!important;
  font-style:italic;
}

.vscode-dark [class^=styledPanel__PanelHeader] {
  background: var(--vscode-editor-background--lighten-05);
}

.vscode-dark [class^=styledPanel__PanelHeader]:hover {
  background: var(--vscode-editor-background--lighten-05);
}

.vscode-light [class^=styledPanel__PanelHeader] {
  background: var(---vscode-editor-background--darken-05)
}

.vscode-light [class^=styledPanel__PanelHeader]:hover {
  background: var(---vscode-editor-background--darken-05)
}

.checkboxLabel {
  color: var(--color--75)
}

[class^=Checkbox__IconWrapper-],[class^=Radio__IconWrapper-] {
  color: var(--vscode-button-background)!important
}

[class^=Checkbox__IconWrapper-] rect,[class^=Radio__IconWrapper-] circle {
  stroke: var(--vscode-button-background)!important
}

.labelAndSelect {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.labelAndSelect>span {
  padding-right: 1rem
}

.labelAndSelect>span {
  color: var(--color--75)
}

.refreshInterval {
  margin-top:10px;
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--color--50);
  margin-top: 1em;
  margin-bottom: 1em
}

.vscode-light .ak-link-button:hover,.vscode-light .ak-link-button>span {
  color: var(--vscode-textlink-foreground)!important
}

.vscode-light .ak-link-button:hover {
  text-decoration: none
}

.vscode-dark .ak-link-button:hover,.vscode-dark .ak-link-button>span {
  color: var(--vscode-button-foreground)!important
}

.vscode-dark .ak-link-button:hover {
  text-decoration: none
}

.ak-link-button>button {
  padding: 0!important
}

.ak-inline-dialog [class^=styled__Container] {
  color: var(--vscode-dropdown-color)!important;
  background-color: var(--vscode-dropdown-background)!important
}

.ak-inline-dialog [class^=styled__Container] a {
  color: var(--vscode-dropdown-color)!important
}

.bitbucket-page img:after {
  content: "\26A0\FE0F   Error loading the image - please open the pull request on bitbucket.org to view the image."!important
}

[class^=Field__FieldWrapper-] {
  width:100%;
}

.ak-select-container {
  margin-right: 20px;
}

.ak-select__control {
  background: var(--vscode-dropdown-background)!important;
  color: var(--vscode-dropdown-foreground)!important;
  border: 1px solid var(--vscode-dropdown-border)!important
}

.ak-select__control--is-focused,.ak-select__control:hover {
  border-color: var(--vscode-focusBorder)!important
}

.ak-select__indicator,.ak-select__input,.ak-select__menu,.ak-select__menu-list,.ak-select__single-value {
  background: var(--vscode-dropdown-background)!important;
  color: var(--vscode-dropdown-foreground)!important
}

.ak-select__option {
  cursor: pointer!important
}

.ak-select__placeholder {
  color: var(--vscode-input-placeholderForeground)!important
}

.ak-select__option--is-focused {
  background: var(--vscode-list-focusBackground)!important;
  color: var(--vscode-list-focusForeground)!important
}

.ak-select__option--is-selected {
  background: var(--vscode-list-activeSelectionBackground)!important;
  color: var(--vscode-list-activeSelectionForeground)!important
}

.ak-select__menu {
  border: 1px solid var(--vscode-focusBorder)!important;
  border-radius: 2px!important
}

.ak-select__value-container {
  padding: 0!important
}

[class^=Calendar__Wrapper] {
  background: var(--vscode-dropdown-background)!important;
  border: 1px solid var(--vscode-focusBorder)!important
}

[class^=Calendar__CalendarTh],[class^=Calendar__Wrapper],[class^=Date__DateDiv],[class^=Heading__MonthAndYear] {
  color: var(--vscode-dropdown-foreground)!important
}

[class^=Date__DateDiv] {
  background: var(--vscode-dropdown-background)!important
}

[class^=Date__DateDiv]:hover {
  background: var(--vscode-list-focusBackground)!important;
  color: var(--vscode-list-focusForeground)!important
}

[class^=Date__DateDiv]:disabled {
  background: var(--vscode-list-focusBackground)!important;
  color: red!important
}

[class^=Calendar__Wrapper]>[class^=Icon__IconWrapper] {
  color: var(--vscode-dropdown-foreground)!important
}

[class^=DateTimePicker__Flex-] {
  background: var(--vscode-dropdown-background)!important;
  border: 1px solid var(--vscode-dropdown-border)!important
}

.bitbucket-page h3 {
  margin: 5px
}

.ac-branch-lozenge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  max-width: 100%;
  vertical-align: baseline;
  border-radius: 3px;
  padding: 2px 0 3px;
  background-color: var(--vscode-button-background--lighten-80);
  color: #4a4a4a;
  border: 1px solid #b1b1b1
}

.ac-branch-lozenge,.ac-branch-lozenge__Text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ac-branch-lozenge__Text {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  padding: 0 4px
}

/*# sourceMappingURL=main.8b814c57.css.map*/
